.currency-continer {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  color: black;
}

.currnecy-continer h3 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.currency {
  display: flex;
  gap: 15px;
}

.flex_ {
  display: flex;
  flex-direction: column;
  width: 200px;
  gap:10px;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}

label {
  font-size: 14px;
  font-weight: bold;
  color: #555;
}

input,
select {
  width: 100px;
  height: 40px;
  padding: 10px !important;
  border-radius: 5px;
  border: 1px solid #ccc;
}

input:focus,
select:focus {
  outline: none;
  border-color: #007bff;
}

.buttons {
  text-align: center;
  margin-top: 20px;
}

.ConvertButton {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.ConvertButton:hover {
  background-color: #0056b3;
}

.convertedAmount {
  text-align: center;
  margin-top: 20px;
}

.text-center {
  color: #333;
  font-size: 24px;
  font-weight: 500;
}
